@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* this is the mobile view */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Muli', sans-serif;
    background-color: #FF0056;
}
/* here starting of the header component */
header{
    padding: 1em;
    background: #10043E;
}
.row{
  display: flex;
}
.logos{
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:50%
}
.logo img{
    width: 100%;
}
.sandwitch_btn{
    width: 50%;
    display: flex ;
    justify-content: flex-end;
    align-items: center;
}
.nav_links{
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.nav_links ul{
    list-style: none;
}
.nav_links li{
    margin: 1em;
    font-size: 1.4rem;
    color: #A1A192;
}
.nav_links li:hover{
    color:#fff;
    cursor: pointer;
}
/* end of the header component */
#hero{
    padding: 1em;
}

.hero_txt{
  width: 100%;
  max-width: 25em;
  margin: 1em auto ;
 position: relative;
}
.hero_txt::before{
    content: url("../img/quote.png");
    display:inline;
    position: absolute;
    top: 0px;
    left: -35px;
}

.hero_txt h1{
    font-size: 2.7rem;
    color: #F6F5E2;
    font-weight: 500;
    padding-left: 0.3em;
}
.hero_txt::after{
    content: url("../img/quote2.png");
    display:inline;
    position: absolute;
    right: 7.4em;
    bottom: 3em;
}
.hero_txt p{
    text-align: end;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    color: #0C0006;
}
.hero_txt button{
    display: none;
}
.hero_img{
  width: 100%;
  max-width: 20em;
  margin: 0 auto;
}
.hero_img img{
    width: 100%;
}
#call_to_action{
    padding: 1em;
    text-align: center;
}
#call_to_action button{
    width: 15em;
    height: 2.5em;
    font-size: 1.5rem;
    margin:2em auto 2em auto;
    outline-style: none;
    border-style: none;
    background-color: #10043E;
    color: #B2B08A;
    box-shadow: 10px 10px 4px rgba(3, 1, 21, 0.50);
    border-radius: 20px 0px;
    cursor: pointer;
}
#call_to_action button:hover{
    background-color: #fff;
    color: red;
}
.logos .nav_links {
    display: none;
}
/* this is the end of the landing page mobile view */
/* this is the start of the home page mobile view */
#home_hero{
    padding: 1em; 
}
.main_home_hero{
    display: flex;
    flex-direction: column;
}
.flex-item:nth-child(1){
    order: 2;
}
.flex-item:nth-child(2){
    order: 1;
}
.main_home_img{
    width: 100%;
    max-width: 15em;
    margin: 0 auto;
}
.main_home_img img{
    width: 100%;
}
.main_home_txt{
    width: 100%;
    max-width: 25em;
    margin: 0 auto;
}
.main_home_txt h1{
    margin-top: 0.5em;
    font-size: 2.3rem;
    line-height: 1.1;
    text-transform: capitalize;
    color: #F6F5E2;
    font-weight: bold;
}
.main_home_txt p{
    margin-top: 0.5em;
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    color:#3C263E;
}
#home_heading{
    background:url('../img/heading_background.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    width: 100%;
    padding: 0;
}   
.home_main_heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.home_main_heading h1{
    width: 100%;
    max-width: 15em;
    margin-left: 1.2em;
    margin-top: 1em;
    font-size: 1.5rem;
    color: #150536;
    text-transform: capitalize;
    font-weight: 400;
}
#home_options{
    padding: 1em;
    background-color: #fff;
    margin-top: 2em;
}
.main_options{
    display: flex;
    justify-content: space-between;
}
.marvel{
    background-color: #A66D7F;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 10em;
    text-align: center;
}
.dc{
    background-color: #A66D7F;
    padding: 0.5em;
    border-radius: 0.5em;
    width: 10em;
    text-align: center;
}
.marvel h2{
  color: #8E2121;
  font-family: 'Playfair Display', serif;
}
.dc h2{
    font-family: 'Playfair Display', serif;
    color:#1C42A4;
}
#home_items{
    padding: 1em;
    background-color: #fff;
    margin-top: 3em;
}
.home_main_items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    margin: 1em;
    width: 15em;
    height: 20em;
    background-color: #F6F5E2;
    padding: 1em;
}
.item_img{
    width:11em ;
    margin: 0 auto;
    overflow: hidden;
}
.item_img img{
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.item_img img:hover{
    transform: scale(1.3);
}
.item_details{
    margin-top: 1em;
    text-align: center;
}
.item_details button{
    width: 10em;
    height: 2.5em;
    font-size: 1rem;
    background-color: #10043E;
    border-style: none;
    outline-style: none;
    color:#FFFDFD;
    border-radius: 0.5em;
    cursor: pointer;
}
#footer{
    background: url('../img/footer_background.png');
    background-position: center;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.copyright{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    margin:10em auto 0 auto; 
    font-size: 1.2rem;
    color: #fff;
}
@media (min-width:700px){
    *{
        margin: 0;
        padding:0;
    }
    .container{
        width: 100%;
        max-width: 70em;
        margin: 0 auto;
    }
    .sandwitch_btn{
        display: none;
    }
  
    .logo img{
      width: 15em;
      margin: 0;
      padding: 0;
    }
    .logos .nav_links {
        display: block;
    }
    .logos .nav_links ul{
       display: flex;
    }
    .main_hero{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: blue; */
        min-height: 30em;
    }
    .hero_txt{
        margin: 5em 0 0 0;
        padding: 0;
        width: 50%;
        max-width: 30em;
    }
    .hero_txt h1{
        padding: 0;
        font-size: 3rem;
        max-width: 30em;
    }
    .hero_txt  p{
        padding: 0;
    }
    .hero_img{
        margin: 0;
        padding: 0;
        width: 50%;
        /* background-color: blanchedalmond; */
        max-width: 100%;
    }
    .hero_img img{
        width: 80%;
        margin-left: 5em;
    }
    #call_to_action{
        text-align: start;
        padding: 0;
        margin: 0;
        display: none;
    }
    .hero_txt button{
        width: 15em;
        height: 2.5em;
        font-size: 1.5rem;
        margin:7em 0 2em 0;
        outline-style: none;
        border-style: none;
        background-color: #10043E;
        color: #B2B08A;
        box-shadow: 10px 10px 4px rgba(3, 1, 21, 0.50);
        border-radius: 20px 0px;
        cursor: pointer;
        display: block;
        padding: 0;
    }
    .hero_txt button:hover{
        background-color: #fff;
        color:red;
    }
    .hero_txt::after{
        content: url("../img/quote2.png");
        display:inline;
        position: absolute;
        right: 11em;
        bottom: 20.5em;
    }
    .hero_txt::before{
        content: url("../img/quote.png");
        display:inline;
        position: absolute;
        top: 0px;
        left: -4em;
    }
     /* desktop view for the homepage */
     .main_home_hero{
         display: flex;
         flex-direction: row;
         min-height: 60vh;
         justify-content: space-between;
         align-items: center;
         padding: 0;
     }
     .flex-item:nth-child(1){
        order: 1;
    }
    .flex-item:nth-child(2){
        order: 2;
    }
    .main_home_txt{
        margin: 0;
        padding: 0;
    }
    .main_home_txt h1{
        margin: 0;
        padding: 0;
    }
    .main_home_txt p{
        padding: 0;
        margin-left: 0;
        margin-top: 1em;
    }
    .main_home_img img{
       margin-left: 10em;
    }
    .home_main_heading{
        text-align: start;
    }
  
}

